//colors
$verypaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%); 

//fonts
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500&display=swap');

//font-size
$prmryFontSize: 16px;

// Mixin
@mixin breakpoint($point) {
    @if $point == small {
      @media (max-width: 480px) { @content; }
    } @else if $point == medium {
      @media (min-width: 720px) { @content; }
    } @else if $point == large {
      @media (min-width: 960px) { @content; }
    } @else if $point == wide {
      @media (max-width: 1440px) { @content; }
    } @else {
      @warn 'Not a valid breakpoint name.';
    }
  }